body{
    background-color: ghostwhite ;color:black;
    margin-bottom: 10%;
}

.allbody-exeptedNavBar{
    margin-left:10%;
    margin-right:10%;
}
.ajoutcateg{
    text-align: center;
}

.divCateg {
    animation-duration: 3s;
    animation-name: slideleft;
}

.divSousCateg {
    animation-duration: 3s;
    animation-name: slidebas;
}

/*KeyFrames Animation*/
@keyframes slideleft {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;

    }
}

@keyframes slidebas {
    from {
        margin-top: 100%;
        width: 300%;
    }

    to {
        margin-top: 0%;
        width: 100%;
    }
}