body{
    background-color: ghostwhite ;color:black;
    margin-bottom: 10%;
}

.allbody-exeptedNavBar{
    margin-left:10%;
    margin-right:10%;
}

.divBienvenue{
    text-align: center;
    margin-top: 20%;
}
.divCategTitre{
    margin-top:2%;
}

.ajoutcateg{
    text-align: center;
}

.divCateg {
    animation-duration: 1s;
    animation-name: slideleft;
}

.divSousCateg {
    animation-duration: 1s;
    animation-name: slidebas;
}

/*----------------KeyFrames Animation----------------*/
@keyframes slideleft {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;

    }
}

@keyframes slidebas {
    from {
        margin-top: 100%;
        width: 100%;
    }

    to {
        margin-top: 0%;
        width: 100%;
    }
}
@keyframes bounce{
    from {transform: translateY(+20px);}
    to   {transform: translateY(-20px);}
}

/*----------------KeyFrames Animation----------------*/